.PennController {
    width: 45em !important; /* controls the width of the content area */
    margin-left: calc(50vw - 22.5em); /* aligns the content area's left edge with the vertical center of the page */
    font-size: 14pt;
}

.button {
    margin: auto;
    font-size: 14pt;
    margin-bottom: 5em;
    margin-top: 1em;
}

.text {
    margin-bottom: 1em;
}

.textinput {
    display: inherit;
    align-self: center; 
    margin: auto;
    text-align: left;
    margin-bottom: 1em;
    margin-top: 1em;
}